[colors]
background = #282a36
foreground = #f8f8f2
background-alt = #000000
foreground-alt = #FFFFFF
primary = #ff5555
secondary = #bd93f9
alert = #ff5555

[bar/mainbar]
width = 100%
height = 35
fixed-center = true
padding-right = 2

locale = fr_FR.UTF-8

background = ${colors.background-alt}
foreground = ${colors.foreground}

font-0 = "Cantarell:style=Bold:size=11;3"

modules-left = tags
modules-center = title
modules-right = memory date

tray-position = right
tray-detached = false
tray-maxsize = 16
tray-background = ${colors.background-alt}
tray-padding = 1

[module/tags]
type = internal/xworkspaces

format = <label-state>

enable-click = false
enable-scroll = false

label-active = %name%
label-active-foreground = ${colors.foreground}
label-active-background = ${colors.primary}
label-active-padding = 3

label-occupied = %name%
label-occupied-margin = 3

label-urgent = %name%
label-urgent-margin = 3

label-empty = %name%
label-empty-foreground = ${colors.unused-ws}
label-empty-margin = 3

[module/title]
type = internal/xwindow

format = <label>
format-foreground = #ffffff

label = %title%

[module/memory]
type = internal/memory
interval = 2
format-prefix = " "
format-prefix-foreground = ${colors.foreground-alt}
label = %mb_used% / %mb_total%

[module/date]
type = internal/date

date = %a %d %b
time = %I:%M %p

format = <label>
label =   %date%    %time%
