
[Desktop Entry]
Type=Application
Name=Unreal Engine 5
Icon=unreal-engine-5
Exec=/mnt/PRO/Unreal/5.5.0/Engine/Binaries/Linux/UnrealEditor
Categories=Game
