// This config is in the KDL format: https://kdl.dev
// "/-" comments out the following node.

include "input.kdl"
include "output.kdl"
include "binds.kdl"

include "layout.kdl"
include "animations.kdl"

include "rules.kdl"


// Add lines like this to spawn processes at startup.
// Note that running niri as a session supports xdg-desktop-autostart,
// which may be more convenient to use.

spawn-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"

spawn-at-startup "qs" // Bar
spawn-at-startup "gammastep-indicator -m wayland" // Night light
spawn-at-startup "nm-applet" // Network manager applet

spawn-sh-at-startup "swayidle -w timeout 60 'makoctl mode -a idle' resume 'makoctl mode -r idle'"

// You can override environment variables for processes spawned by niri.
environment {
    // Set a variable like this:
    // Make sure the of the display slot for xwayland-satellite
    XKB_DEFAULT_LAYOUT "fr"
    XCURSOR_SIZE "22"

    //GTK_IM_MODULE wayland
    //QT_IM_MODULE fcitx
    //XMODIFIERS "@im=fcitx"

    QT_AUTO_SCREEN_SCALE_FACTOR "1"
    QT_QPA_PLATFORM "wayland;xcb"
    QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
    QT_QPA_PLATFORMTHEME "qt6ct"

    SDL_VIDEODRIVER "wayland,x11"
    _JAVA_AWT_WM_NONEREPARENTING "1"
    CLUTTER_BACKEND "wayland"
    GDK_BACKEND "wayland,x11"

    VISUAL "nvim"
    EDITOR "nvim"
}

cursor {
    // Change the theme and size of the cursor as well as set the
    // `XCURSOR_THEME` and `XCURSOR_SIZE` env variables.
    // xcursor-theme "default"
    xcursor-size 22
}

gestures {
    hot-corners {
        off
    }
}

// Uncomment this line to ask the clients to omit their client-side decorations if possible.
// If the client will specifically ask for CSD, the request will be honored.
// Additionally, clients will be informed that they are tiled, removing some rounded corners.
prefer-no-csd

// You can change the path where screenshots are saved.
// A ~ at the front will be expanded to the home directory.
// The path is formatted with strftime(3) to give you the screenshot date and time.
screenshot-path "~/Screenshots/Screenshot_%Y%m%d_%H%M%S.png"

// You can also set this to null to disable saving screenshots to disk.
// screenshot-path null

// Settings for the "Important Hotkeys" overlay.
hotkey-overlay {
    // Uncomment this line if you don't want to see the hotkey help at niri startup.
    skip-at-startup
}

workspace "1" {}
workspace "2" {}
workspace "3" {}

// Disable Alt-Tab
recent-windows {
    binds {
    }
}
