/* colors */

* {
  accent:   #bd93f9;
  bg:       #1E2029FA;
  bg-light: #1c1c1c;
  bg-focus: #282a36;
  bg-dark:  #000000;
  fg:       #ffffff;
  fg-list:  #ffffff;
  on:       #8BD49C;
  off:      #cc6666;

  magenta: #bd93f9;
  blue:    #61bfff;
}
